[submodule "ncmv_projects/SafePodCasting"]
	path = ncmv_projects/SafePodCasting
	url = git@github.com:nguyenchiemminhvu/SafePodCasting.git
[submodule "ncmv_projects/LibEventCpp"]
	path = ncmv_projects/LibEventCpp
	url = git@github.com:nguyenchiemminhvu/LibEventCpp.git
[submodule "ncmv_projects/LibThreadPool"]
	path = ncmv_projects/LibThreadPool
	url = git@github.com:nguyenchiemminhvu/LibThreadPool.git
[submodule "ncmv_projects/vsomeip_examples"]
	path = ncmv_projects/vsomeip_examples
	url = git@github.com:nguyenchiemminhvu/vsomeip_examples.git
[submodule "ncmv_projects/ubx_config"]
	path = ncmv_projects/ubx_config
	url = git@github.com:nguyenchiemminhvu/ubx_config.git
[submodule "ncmv_projects/serial_helper"]
	path = ncmv_projects/serial_helper
	url = git@github.com:nguyenchiemminhvu/serial_helper.git
[submodule "ncmv_projects/nmea_parser"]
	path = ncmv_projects/nmea_parser
	url = git@github.com:nguyenchiemminhvu/nmea_parser.git
[submodule "ncmv_projects/ubx_parser"]
	path = ncmv_projects/ubx_parser
	url = git@github.com:nguyenchiemminhvu/ubx_parser.git
[submodule "ncmv_projects/ini_parser"]
	path = ncmv_projects/ini_parser
	url = git@github.com:nguyenchiemminhvu/ini_parser.git
