[submodule "ncmv_projects/SafePodCasting"]
	path = ncmv_projects/SafePodCasting
	url = git@github.com:nguyenchiemminhvu/SafePodCasting.git
[submodule "ncmv_projects/LibEventCpp"]
	path = ncmv_projects/LibEventCpp
	url = git@github.com:nguyenchiemminhvu/LibEventCpp.git
[submodule "ncmv_projects/LibThreadPool"]
	path = ncmv_projects/LibThreadPool
	url = git@github.com:nguyenchiemminhvu/LibThreadPool.git
[submodule "ncmv_projects/vsomeip_examples"]
	path = ncmv_projects/vsomeip_examples
	url = git@github.com:nguyenchiemminhvu/vsomeip_examples.git
